
@font-face {
  font-family: "f1";
  src: url("../font/f1.woff");
}
body { 
   width: 100%;
  
   
} 
html, body { height: 100%; }

.container{
 padding: 2%;
}
.card{
  border: none;

}
#card1 .card{
  border: 1px solid gray;
  border-radius: 30px;
}
.card-footer{
  background-color: white;
  margin-top: 5%;
  padding-right: 5%;
  border: none;
}
 a{
  padding: 10px;
  font-size: 1.5rem;
  color:#7c7c7c;
  text-decoration-line: none; 


}
section a:hover {
  color: 	#bc5859;
}
#page1, #page2, #page3, #page4, #page5, #page6, #page7, #page8{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e6e6e6+0,9b3e4c+0,b75c57+41,c37975+41,bf706e+41,b8605f+41,b55857+41,ad4848+41,b75c57+41,cc705e+77,cc705e+77,e18264+86,e58766+100,e8977a+100,e6e6e6+100 */
background: #e6e6e6; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #e6e6e6 0%, #9b3e4c 0%, #b75c57 41%, #c37975 41%, #bf706e 41%, #b8605f 41%, #b55857 41%, #ad4848 41%, #b75c57 41%, #cc705e 77%, #cc705e 77%, #e18264 86%, #e58766 100%, #e8977a 100%, #e6e6e6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #e6e6e6 0%,#9b3e4c 0%,#b75c57 41%,#c37975 41%,#bf706e 41%,#b8605f 41%,#b55857 41%,#ad4848 41%,#b75c57 41%,#cc705e 77%,#cc705e 77%,#e18264 86%,#e58766 100%,#e8977a 100%,#e6e6e6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #e6e6e6 0%,#9b3e4c 0%,#b75c57 41%,#c37975 41%,#bf706e 41%,#b8605f 41%,#b55857 41%,#ad4848 41%,#b75c57 41%,#cc705e 77%,#cc705e 77%,#e18264 86%,#e58766 100%,#e8977a 100%,#e6e6e6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#e6e6e6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

h1,h3,h2,h4,h6,p,h5{
    color:#f3f1f1;
    font-family: "f" ; 
    font-weight: bold;
}
h4{
  text-align:right;
}
#page2 h5{
 color: #69212c;
}
#page3 h1{
  color: #69212c;
 }
#card4 h3 {
  color: #69212c;
}
#card5 h4{
  color: #69212c;
    font-family: "f1";
      font-weight: bold;
      font-size: 2em;
      color: #f3f1f1;
      border-radius: 10px;
      width: 100%;
       text-align:left;
       padding-left: 2%;

      background: -webkit-linear-gradient(-45deg,  #e6e6e6 0%,#9b3e4c 0%,#b75c57 41%,#c37975 41%,#bf706e 41%,#b8605f 41%,#b55857 41%,#ad4848 41%,#b75c57 41%,#cc705e 77%,#cc705e 77%,#e18264 86%,#e58766 100%,#e8977a 100%,#e6e6e6 100%); /* Chrome10-25,Safari5.1-6 */
  

}
#card5  h3{
  color: #69212c;
}
#card6 h1{
  color: #69212c;
}
#card8 h5{
  color: #4a2b41;
}
#imge1{
  width: 100px;
  height: 100px;
  margin-top: 10px;
    border-radius: 60px;
    background-color: #dbbfbf;
    border:5px solid #e49472 ;
}
#btn4{
  border-radius: 30px;
  background: -webkit-linear-gradient(-45deg,  #e6e6e6 0%,#9b3e4c 0%,#b75c57 41%,#c37975 41%,#bf706e 41%,#b8605f 41%,#b55857 41%,#ad4848 41%,#b75c57 41%,#cc705e 77%,#cc705e 77%,#e18264 86%,#e58766 100%,#e8977a 100%,#e6e6e6 100%); /* Chrome10-25,Safari5.1-6 */
  border-top:5px solid #7c7c7c ;


 width:50%;

 font-size: 1rem;
 color:#f3f1f1;;
}
#btn1{
    border-radius: 30px;
    background: -webkit-linear-gradient(-45deg,#9b3e4c 30%, #4a2b41 70% ); /* Chrome10-25,Safari5.1-6 */
    -webkit-box-shadow: -1px -27px 32px -15px rgba(243,241,241,1);
    -moz-box-shadow: -1px -27px 32px -15px rgba(243,241,241,1);
    box-shadow: -1px -27px 32px -15px rgba(243,241,241,1);
   border: 0 px 0px  2px solid rgba(243,241,241,1);;
     width: 20%;
   font-size: 2.5rem;
   color:#f3f1f1;;
   
}

#form1{
  font-family: "f1";
    font-weight: bold;
    font-size: 1.5em;
    color: #f3f1f1;
    width: 30%;
    border-radius: 10px;

    background: -webkit-linear-gradient(-45deg,  #e6e6e6 0%,#9b3e4c 0%,#b75c57 41%,#c37975 41%,#bf706e 41%,#b8605f 41%,#b55857 41%,#ad4848 41%,#b75c57 41%,#cc705e 77%,#cc705e 77%,#e18264 86%,#e58766 100%,#e8977a 100%,#e6e6e6 100%); /* Chrome10-25,Safari5.1-6 */

 background-color: linear-gradient(-45deg,#982b37 30%, #4a2b41 70% );
}
#btn2{
    border-radius: 30px;
    background: -webkit-linear-gradient(-45deg,  #e6e6e6 0%,#9b3e4c 0%,#b75c57 41%,#c37975 41%,#bf706e 41%,#b8605f 41%,#b55857 41%,#ad4848 41%,#b75c57 41%,#cc705e 77%,#cc705e 77%,#e18264 86%,#e58766 100%,#e8977a 100%,#e6e6e6 100%); /* Chrome10-25,Safari5.1-6 */
   border: none;
   width: 100%;
 
   font-size: 2rem;
   color:#f3f1f1;;
}
#bnt3{
    width: 50%;
    height: 60%;
    border-radius: 30px;
}
#btn{
   border-radius: 30px; 
   background: -webkit-linear-gradient(-45deg,  #e6e6e6 0%,#9b3e4c 0%,#b75c57 41%,#c37975 41%,#bf706e 41%,#b8605f 41%,#b55857 41%,#ad4848 41%,#b75c57 41%,#cc705e 77%,#cc705e 77%,#e18264 86%,#e58766 100%,#e8977a 100%,#e6e6e6 100%); /* Chrome10-25,Safari5.1-6 */
   
     border-top: 5px 5px solid rgba(243,241,241,1) ;
      width: 20%; 
      font-size: 2rem; 
      color: #f3f1f1;
  
}
#img1{
    margin-top: 10px;
    border-radius: 650px;
    background-color: #dbbfbf;
    border:10px solid #e49472 ;
}
#row1{
  background-color:#c3cac3;
  border-radius: 20px;
  width: 80%;
margin-left: 10%;
}
#row1 p{
  font-family: "f" ; 
  font-weight: bold;
  font-size: 1.5em;
    background: -webkit-linear-gradient(-45deg,  #e6e6e6 0%,#9b3e4c 0%,#b75c57 41%,#c37975 41%,#bf706e 41%,#b8605f 41%,#b55857 41%,#ad4848 41%,#b75c57 41%,#cc705e 77%,#cc705e 77%,#e18264 86%,#e58766 100%,#e8977a 100%,#e6e6e6 100%); /* Chrome10-25,Safari5.1-6 */
   
    border-radius: 20px;
    padding: 5%;
  
}
#row1 .btn{
  margin-bottom: 10%;
}
 
 
  #formGroupExampleInput2, #formGroupExampleInput1{
    width: 30%;
    height: 80%;
    border-radius: 10px;
     background-color: #b4b5b4;  
     padding-top: 10px;
     border: none;
    }
.colors{
    color: 	#bc5859;
    color: #f3f1f1;
    color:#cd9493;
    color:#b9707e;
    color:#dbbfbf;
    color:#e49472;
    color:#d7b5a9;
    color:#7c7c7c;
    color:#efd6c9;
    color: #c3cac3;
}

 #img2 { 
   height: 50px; 
  width: 50px; 
   box-shadow: 8px 8px 12px #aaa; 
   margin-bottom: 5px;
  
 } 




 /* Cachons la case à cocher */
[type="checkbox"]:not(:checked), 
[type="checkbox"]:checked {
	position: absolute;
	left: 0;
	opacity: 0.01;
}





/* on prépare le label */
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
	position: relative; /* permet de positionner les pseudo-éléments */
	padding-left: 2.3em; /* fait un peu d'espace pour notre case à venir */
	font-size: 1.05em; /* Label un peu plus gros */
	line-height: 1.7;
  cursor: pointer;    /* affiche un curseur adapté */
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 1.4em;
	height: 1.4em;
	border: 1px solid #aaa;
	background: #FFF;
	border-radius: .2em;
	box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
	transition: all .275s;
}

.card-text{
  color: black;
}

/* Aspect de la coche */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
	content: '✕';
	position: absolute;
	top: .38em;
	left: .18em;
	font-size: 1.6em;
	color: #CB22ED;
	line-height: 0;
	transition: all .2s; /* Petite transition */
}

/* Aspect non cochée */
[type="checkbox"]:not(:checked) + label:after {
	/* opacity: 0; */
	transform: scale(0) rotate(45deg);
}

/* Aspect cochée */
[type="checkbox"]:checked + label:after {
	/* opacity: 1; */
	transform: scale(1) rotate(0);
}
/* Disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #e9e9e9;
}

/* Disabled checked */
[type="checkbox"]:disabled:checked + label:after {
	color: #777;
}

[type="checkbox"]:disabled + label {
	color: #aaa;
}

/* Accessibility focus */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
	box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(203, 34, 237, .2);
}